.ast-container{
    max-width: none !important;
}

@media (min-width: 922px) {
    .site-content .ast-container {
        display: block !important;
    }
}

/* Animación en íconos de botones */
.btnAni .elementor-button-icon {
  transition: transform 0.3s ease;
}

.btnAni:hover .elementor-button-icon {
  transform: translateX(8px);
}

/* Ocultar pestaña de retiros en dashboard */
.tutor-dashboard-menu-item a[href*="withdraw"] {
  display: none !important;
}

/* Estilo contenedor login y registro */
.tutor-login-wrap, #tutor-registration-wrap {
  max-width: 520px;
  margin: 0 auto;
  padding: 0px 0 0px 0;
  box-shadow: none !important;
}

.tutor-login-form-wrapper, #tutor-registration-form {
  padding: 24px 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Centrado de títulos */
.tutor-fs-5.tutor-color-black.tutor-mb-32,
.tutor-fs-4.tutor-color-black.tutor-mb-32 {
  text-align: center;
  display: block;
  width: 100%;
}

/* Espaciado vertical en secciones */
.tutor-py-48 {
  padding-top: 48px;
  padding-bottom: 0px;
}

/* Botones al 100% en móviles */
@media (max-width: 575.98px) {
  .tutor-modal .tutor-btn:not(.tutor-is-icon-btn) {
    max-width: 100% !important;
  }
}

/* Ajuste de padding en precios */
.price {
  padding-right: 20px !important;
}

/* Reemplazo del texto por el logo (dashboard) */
.tutor-fs-5.tutor-color-black.tutor-mb-32 {
  font-size: 0px !important;
}

.tutor-fs-5.tutor-color-black.tutor-mb-32::before {
  content: "";
  display: block;
  width: 200px;
  height: 60px;
  background-image: url('/public/img/LOGO.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 16px auto;
}

/* Reemplazo del texto por el logo (modal de login) */
.tutor-fs-4.tutor-fw-medium.tutor-color-black.tutor-mb-32 {
  font-size: 0 !important;
  margin-bottom: 16px;
}

.tutor-fs-4.tutor-fw-medium.tutor-color-black.tutor-mb-32::before {
  content: "";
  display: block;
  width: 200px;
  height: 60px;
  background-image: url('/public/img/LOGO.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto 12px auto;
}

/* Estilo del contenedor del modal */
.tutor-modal-content {
  margin: 20px auto !important;
  border-radius: 12px;
  max-width: calc(100% - 40px);
  box-sizing: border-box;
}

/* Botón de acceso a pantalla completa */
.tutor-btn.tutor-btn-primary.tutor-btn-block {
  display: block;
  width: 100% !important;
  box-sizing: border-box;
}

/* Ajuste de margen superior en móvil */
@media (max-width: 767px) {
  .tutor-mt-72 {
    margin-top: 0 !important;
  }
}

/* Ocultar calificaciones */
.ratings {
  display: none !important;
}

/* Ocultar información extra en perfil del instructor */
.profile-name.tutor-color-white > *:not(h3) {
  display: none !important;
}

/*Botones personalizados del menú móvil*/
.btnIcon .elementor-button-content-wrapper {
  display: flex;
  align-items: center;
}

.btnIcon .elementor-button-icon {
  font-size: 24px !important;
  color: #0D2143 !important;
  fill: #0D2143 !important;
}


.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload),
.e-con.e-parent:nth-of-type(n+4):not(.e-lazyloaded):not(.e-no-lazyload) * {
    background-image: none !important;
}
@media screen and (max-height: 1024px) {
    .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload),
    .e-con.e-parent:nth-of-type(n+3):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important;
    }
}
@media screen and (max-height: 640px) {
    .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload),
    .e-con.e-parent:nth-of-type(n+2):not(.e-lazyloaded):not(.e-no-lazyload) * {
        background-image: none !important;
    }
}
		